<!DOCTYPE html>
<html>
<head>
<title>Digit Recognition</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<div class="card">

<h1>✍️ Handwritten Digit Recognition</h1>

<p>
Upload a handwritten digit image
</p>

<form action="/predict"
method="POST"
enctype="multipart/form-data">

<div class="upload-box">

<input type="file"
name="image"
required>

</div>

<button type="submit">
Predict Digit
</button>

</form>

</div>

</div>

</body>
</html>