<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Medical Diagnosis System</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="hero">

    <div class="hero-card">

        <h1>🏥 Smart Medical Diagnosis System</h1>

        <p>
            AI Powered Disease Prediction Using Artificial Neural Networks
        </p>

        <a href="/login" class="hero-btn">
            Get Started
        </a>

    </div>

</div>

</body>
</html>