<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
        href="{{url_for('static',filename='css/style.css')}}">

</head>

<body>

    <div class="login-container">

        <div class="login-card">

            <h1>🏥 Medical Login</h1>

            <form
                action="/login_validation"
                method="POST">

                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required>

                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>

                <button type="submit">
                    Login
                </button>

            </form>

            {% if error %}

            <div class="error">

                {{error}}

            </div>

            {% endif %}

        </div>

    </div>

</body>

</html>