<!DOCTYPE html>

<html>

<head>

<title>Upload Dataset</title>

<link rel="stylesheet"
href="{{url_for('static',filename='css/style.css')}}">

</head>

<body>

<a href="/dashboard" class="dashboard-btn">
🏠 Dashboard
</a>

<div class="form-container">

<h1>📂 Upload Patient Dataset</h1>

<form
action="/upload_dataset"
method="POST"
enctype="multipart/form-data">

<input
type="file"
name="dataset"
required>

<button type="submit">

Upload Dataset

</button>

</form>

{% if message %}
<div class="success-box">
    ✅ {{ message }}
</div>
{% endif %}

</div>

</body>

</html>
